{% extends "meeting/gate/index.html" %}

{% load bootstrap3 %}

{% block js %}
    <script>
        $(function () {
            $("#id_wristband_code").on('blur', function () {
                this.focus();
            });
        });
    </script>
{% endblock %}

{% block container %}

    {% bootstrap_messages %}

    {% if form.is_valid %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Pronto!</strong>
      Pulseira vendida com sucesso.
    </div>
    {% endif %}


    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Enviar
            </button>
        {% endbuttons %}
    </form>

{% endblock %}
